snippet skel "C++ Skeleton"
    #include <iostream>

    int main() {
        ${1};
        return 0;
    }
endsnippet

snippet skelSDL "SDL Skeleton"
    #include "SDL/SDL.h"
    #include "SDL/SDL_image.h"
    #include "SDL/SDL_ttf.h"
    #include <string>

    int main( int argc, char* args[] ) {
        ${1};
        return 0;
    }
endsnippet
